body {
    background-color: lightcyan;
    color: black;
    margin: 0;
    
}

section {
    display: flex;
    flex-direction: row;
    text-align: center;

}

nav, article {
    width: 100%;
    padding: 10px;
}

header {
    text-align: center;
}

header, footer {
    background-color: lightcyan;
    color: blue;
    padding: 10px;
}

nav a {
    display: block;
    width: 20%;
    margin: 0 auto;
}

a:hover {
    background-color: lightcyan;
    border: 1px solid black;
}

a:visited {
    color: black;
}

nav {
    background-color: #9EF7F7;
    text-align: center;
}

article {
    background-color: lightgrey;
    border: 1px solid black;
}

footer {
    flex-direction: row;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 600px) {
    section {
        flex-direction: column;
    }
}